body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(../img/background.png);
}

.wrap {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto;
  transform: scale(0.6) translatez(0px);
  opacity: 1;
  transition: transform .5s, opacity .5s;
}

a {
  position: absolute;
  left: 0;
  top: 0;
  width: 47.5%;
  height: 47.5%;
  transform: scale(.5);

}

a div {
  height: 100%;
  background-size: cover;
  opacity: 1;
  border-radius: inherit;
}

a:nth-child(1) {
  width: 55%;
  height: 55%;
  left: 22.5%;
  top: 22.5%;
  transform: scale(1.3);
  z-index: 2;
}

a:nth-child(1) img {
  position: absolute;
  height: 100%;
}

a:nth-child(2) {
  z-index: 1;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  opacity: 0;
  transform: scale(1.0);
}

a:nth-child(2) img {
  position: absolute;
  height: 100%;

}

a:nth-child(3) {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  transform: scale(1.0);
  opacity: 0;
}

a:nth-child(3) img {
  position: absolute;
  height: 100%;

}

a:nth-child(4) {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  transform: scale(1.0);
  opacity: 0;
}

a:nth-child(4) img {
  position: absolute;
  height: 100%;

}

a:nth-child(5) {
  top: -15%;
  left: -20%;
  width: 140%;
  height: 140%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  clip-path: inset(10% -10% 10% 10%);
}

a:nth-child(5) img {
  position: absolute;
  height: 100%;
}

a:nth-child(5):hover,
a:nth-child(5):active {
  clip-path: none;
}

a:nth-child(6) {
  top: 5%;
  left: -45%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  clip-path: inset(10% 10% 10% 10%);

}

a:nth-child(6) img {
  position: absolute;
  height: 100%;
}

a:nth-child(6):hover,
a:nth-child(6):active {
  clip-path: none;
}

a:nth-child(7) {
  top: 5%;
  left: 45%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  clip-path: inset(10% 10% 10% 10%);

}

a:nth-child(7) img {
  position: absolute;
  height: 100%;
}

a:nth-child(7):hover,
a:nth-child(7):active {
  clip-path: none;
}

a:nth-child(8) {
  top: 52%;
  left: -44%;
  width: 187%;
  height: 27%;
  white-space: nowrap;
  font-size: 18vmin;
  text-align: center;
  color: #ff6600;
  font-family: 'Impact', 'Arial', cursive;
}

a:nth-child(9) {
  top: 73%;
  left: -44%;
  width: 187%;
  height: 21%;
  white-space: nowrap;
  font-size: 18vmin;
  text-align: center;
  color: #ff6600;
  font-family: 'Impact', 'Arial', cursive;

}

.window {
  position: absolute;
  top: 25%;
  left: -45%;
  width: 55%;
  height: 55%;
  visibility: hidden;
  transform: scale(2.5);
  pointer-events: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.window.resumeResizedWindow {
  top: 3%;
  left: -104%;
  width: 71%;
  height: 79%;
}

#windowImg {
  position: absolute;
  height: 100%;
}

p {
  position: absolute;
  left: -29%;
  top: 16%;
  white-space: nowrap;
  font-size: 10vmin;
  text-align: center;
  color: #ff6600;
  font-family: 'Impact', 'Arial', cursive;
  margin-top: 0;
  margin-bottom: 1rem;
}

.p2 {
  top: 37%;
  left: 0;
}

.myContactInfo {
  visibility: hidden;

}

#pinterest {
  left: 150%;
}

#resumePDF {
  position: absolute;
  top: 6%;
  width: 85%;
  height: 100%;
  left: 69%;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#resumePDF.resizeLogo {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  left: 87%;
}

#embededPDF {
  position: absolute;
  top: 13%;
  width: 130%;
  height: 89%;
  left: -46%;
  visibility: hidden;
}

#embededPDF.embededPDFResize {
  position: absolute;
  top: -10%;
  width: 196%;
  height: 120%;
  left: -99%;
}

.frame {
  animation: rotate 20s linear infinite reverse;
}

.dashes {
  animation: rotate 13s linear infinite;
}

.outerRotation {
  animation: rotate 5s linear infinite reverse;
}

.innerRotation {
  animation: rotate 10s linear infinite reverse;
}

#hoveredContact {
  visibility: hidden;
}

#resumeID:hover,
#resumeID:active {
  background-image: url(../img/2022h-resume.png);
  background-size: cover;
}

#portfolioID:hover,
#portfolioID:active {
  background-image: url(../img/2022h-portfolio.png);
  background-size: cover;
}

#contactID:hover,
#contactID:active {
  background-image: url(../img/2022h-contact.png);
  background-size: cover;
}

.opened {
  opacity: 0;
}

.closed {
  opacity: 1;
}

#innerCircleClosed {
  animation: rotate 75s linear infinite reverse;
}

#circleFanClosed {
  animation: rotate 75s linear infinite;
}

#rightClosed {
  left: -5%;
  top: -1%;
  pointer-events: none;
  transform-origin: 100% 50%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

#rightClosed.closeRO {
  transform: translate(-60%, 0%)rotate(180deg);
  opacity: 0;
}

#leftClosed {
  right: -5%;
  top: 0%;
  pointer-events: none;
  transform-origin: 0% 50%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

#leftClosed.closeLO {
  transform: translate(60%, 0%)rotate(180deg);
  -webkit-transform: translate(60%, 0%)rotate(180deg);
  -moz-transform: translate(60%, 0%)rotate(180deg);
  -o-transform: translate(60%, 0%)rotate(180deg);
  -ms-transform: translate(60%, 0%)rotate(180deg);
  opacity: 0;
}

#rightOpen {
  transform-origin: 75% 50%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  opacity: 0;
}

#rightOpen.closeRC {
  transform: translate(-50%, 0%)rotate(180deg);
  -webkit-transform: translate(-50%, 0%)rotate(180deg);
  -moz-transform: translate(-50%, 0%)rotate(180deg);
  -o-transform: translate(-50%, 0%)rotate(180deg);
  -ms-transform: translate(-50%, 0%)rotate(180deg);
  opacity: 1;
}

#leftOpen {
  transform-origin: 25% 50%;
  top: 0.3%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  opacity: 0;
}

#leftOpen.closeLC {
  transform: translate(50%, 0%)rotate(180deg);
  -webkit-transform: translate(50%, 0%)rotate(180deg);
  -moz-transform: translate(50%, 0%)rotate(180deg);
  -o-transform: translate(50%, 0%)rotate(180deg);
  -ms-transform: translate(50%, 0%)rotate(180deg);
  opacity: 1;
}

span {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 45vmin;
  width: 10vmin;
  height: 10vmin;
  transform: translateZ(0px);
}

span span {
  position: absolute;
  width: 60%;
  height: 3px;
  left: 20%;
  top: 50%;
}

span span:after,
span span:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1.5vmin;
  width: 100%;
  height: 100%;
  background: inherit;
}

span span:after {
  top: 1.5vmin;
}

.glow {
  position: relative;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
  border-radius: 50%;
  visibility: visible;
}

.glow:before,
.glow:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  animation: glow-grow 2.7s ease-out infinite;
}

.glow:after {
  animation-delay: .66s;
}

.glow {
  animation-delay: 1.33s;
}

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    box-shadow: 0 0 15px #16c1f3;

  }

  80% {
    opacity: 1;
    box-shadow: 0 0 15px #ff6600;

  }

  100% {
    transform: scale(2);
    opacity: 0;

  }
}


@-webkit-keyframes changeOpacityHide {

  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes changeOpacityShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes expandResume {
  0% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 0;
  }

  100% {
    transform: translate(110%, -80%);
    -webkit-transform: translate(110%, -80%);
    -moz-transform: translate(110%, -80%);
    -o-transform: translate(110%, -80%);
    -ms-transform: translate(110%, -80%);
    opacity: 1;
  }
}

@-webkit-keyframes minimizeResume {
  0% {
    transform: translate(110%, -80%);
    -webkit-transform: translate(110%, -80%);
    -moz-transform: translate(110%, -80%);
    -o-transform: translate(110%, -80%);
    -ms-transform: translate(110%, -80%);
    opacity: 1;
  }

  100% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 0;
  }
}

@-webkit-keyframes expandPortfolio {
  0% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 0;
  }

  100% {
    transform: translate(-110%, -80%);
    -webkit-transform: translate(-110%, -80%);
    -moz-transform: translate(-110%, -80%);
    -o-transform: translate(-110%, -80%);
    -ms-transform: translate(-110%, -80%);
    opacity: 1;
  }
}

@-webkit-keyframes minimizePortfolio {
  0% {
    transform: translate(-110%, -80%);
    -webkit-transform: translate(-110%, -80%);
    -moz-transform: translate(-110%, -80%);
    -o-transform: translate(-110%, -80%);
    -ms-transform: translate(-110%, -80%);
    opacity: 1;
  }

  100% {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    opacity: 0;
  }
}

@-webkit-keyframes expandContact {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    opacity: 0;
  }

  100% {
    transform: translateY(130%);
    -webkit-transform: translateY(130%);
    -moz-transform: translateY(130%);
    -o-transform: translateY(130%);
    -ms-transform: translateY(130%);
    opacity: 1;
  }
}

@-webkit-keyframes minimizeContact {
  0% {
    transform: translateY(130%);
    -webkit-transform: translateY(130%);
    -moz-transform: translateY(130%);
    -o-transform: translateY(130%);
    -ms-transform: translateY(130%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    opacity: 0;
  }
}

@-webkit-keyframes minimizeMain {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
  }

  100% {
    transform: translateY(150%);
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -o-transform: translateY(150%);
    -ms-transform: translateY(150%);
  }
}

@-webkit-keyframes expandMain {
  0% {
    transform: translateY(150%);
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -o-transform: translateY(150%);
    -ms-transform: translateY(150%);
  }

  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
  }
}

@-webkit-keyframes rotateScaleMain {
  0% {
    transform: rotate(360deg) scale(1.3);
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
  }

  100% {
    transform: rotate(-360deg) scale(0.4);
    -webkit-transform: rotate(-360deg) scale(0.4);
    -moz-transform: rotate(-360deg) scale(0.4);
    -o-transform: rotate(-360deg) scale(0.4);
    -ms-transform: rotate(-360deg) scale(0.4);
  }
}

@-webkit-keyframes undoRotateScaleMain {
  0% {
    transform: rotate(-360deg) scale(0.4);
    -webkit-transform: rotate(-360deg) scale(0.4);
    -moz-transform: rotate(-360deg) scale(0.4);
    -o-transform: rotate(-360deg) scale(0.4);
    -ms-transform: rotate(-360deg) scale(0.4);
  }

  100% {
    transform: rotate(360deg) scale(1.3);
    -webkit-transform: rotate(360deg) scale(1.3);
    -moz-transform: rotate(360deg) scale(1.3);
    -o-transform: rotate(360deg) scale(1.3);
    -ms-transform: rotate(360deg) scale(1.3);
  }
}

@media only screen and (max-width: 600px) {


  p {
    left: -30%;

  }

  .p2 {
    top: 37%;
    left: -5%;
  }


  @-webkit-keyframes rotateScaleMain {
    0% {
      transform: rotate(360deg) scale(1.3);
      -webkit-transform: rotate(360deg) scale(1.3);
      -moz-transform: rotate(360deg) scale(1.3);
      -o-transform: rotate(360deg) scale(1.3);
      -ms-transform: rotate(360deg) scale(1.3);
    }

    100% {
      transform: rotate(-360deg) scale(0.7);
      -webkit-transform: rotate(-360deg) scale(0.7);
      -moz-transform: rotate(-360deg) scale(0.7);
      -o-transform: rotate(-360deg) scale(0.7);
      -ms-transform: rotate(-360deg) scale(0.7);
    }
  }

  @-webkit-keyframes undoRotateScaleMain {
    0% {
      transform: rotate(-360deg) scale(0.7);
      -webkit-transform: rotate(-360deg) scale(0.7);
      -moz-transform: rotate(-360deg) scale(0.7);
      -o-transform: rotate(-360deg) scale(0.7);
      -ms-transform: rotate(-360deg) scale(0.7);
    }

    100% {
      transform: rotate(360deg) scale(1.3);
      -webkit-transform: rotate(360deg) scale(1.3);
      -moz-transform: rotate(360deg) scale(1.3);
      -o-transform: rotate(360deg) scale(1.3);
      -ms-transform: rotate(360deg) scale(1.3);
    }
  }
}
